<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="/static/css/excluir.css">
    </head>
    <body>
    <div class="container">
        <h1>Excluir Receita</h1>
        <p>Tem certeza de que deseja excluir esta receita? Esta ação não pode ser desfeita.</p>
        <div class="button-group">
        <button class="confirm-button">Sim, excluir</button>
        <button class="cancel-button">Cancelar</button>
        </div>
    </div>
    </body>
</html>
